In [4]:
import pandas as pd

In [3]:
path="data/SwDA.csv"

In [5]:
data=pd.read_csv(path)

In [6]:
data.head()

,act_tag,caller,clean_text,conversation_no,damsl_act_tag,act_tag_id
0,o,A,Okay,4325,"fo_o_fw_""_by_bc",21
1,qw,A,So,4325,qw,34
2,qy^d,B,I guess,4325,qy^d,37
3,+,A,"What kind of experience do you , do you have ,...",4325,+,1
4,+,B,"I think , uh , I wonder if that worked",4325,+,1

In [7]:
data.shape

(212892, 6)

In [9]:
data["damsl_act_tag"].value_counts()

sd                 73407
b                  37421
sv                 25479
+                  17493
%                  15147
aa                 10909
ba                  4685
qy                  4643
ny                  2964
fc                  2520
qw                  1937
nn                  1349
bk                  1289
h                   1193
qy^d                1181
bh                  1032
^q                   942
bf                   921
fo_o_fw_"_by_bc      870
na                   836
ad                   727
^2                   701
b^m                  668
qo                   641
qh                   565
^h                   544
ar                   339
ng                   293
br                   289
no                   281
fp                   223
qrr                  208
arp_nd               205
x                    140
t3                   113
oo_co_cc             109
aap_am               105
t1                   103
bd                   101
^g                    92
qw^d                  80
fa                    77
ft                    70
Name: damsl_act_tag, dtype: int64

In [11]:
len(set(data["damsl_act_tag"]))

43

In [13]:
data[data["damsl_act_tag"]=="x"]

       act_tag caller clean_text  conversation_no damsl_act_tag  act_tag_id
968          x      A          -             4329             x          42
2277         x      A    MUMBLEx             4049             x          42
3009         x      A    MUMBLEx             4181             x          42
4085         x      B    MUMBLEx             2546             x          42
6443         x      A    MUMBLEx             3917             x          42
...        ...    ...        ...              ...           ...         ...
210600       x      B    MUMBLEx             2131             x          42
210670       x      A    MUMBLEx             2131             x          42
211026       x      B    MUMBLEx             2229             x          42
211127       x      A    MUMBLEx             2229             x          42
211155       x      A    MUMBLEx             2229             x          42

[140 rows x 6 columns]